@model ECommerce.Models.WareHouse

@{
    ViewBag.Title = "Excluir Armazém";
}
<br />
<h2>Excluir Armazém</h2>
<br />
<h3>Tem certeza que deseja excluir esta cidade?</h3>
<div>
    <h4>Esta ação não poderá ser desfeita!</h4>
    <br />
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Departaments.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departaments.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cities.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cities.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <br />
        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-danger" /> |
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-primary" })
        </div>
    }
</div>
