@model ECommerce.Models.WareHouse

@{
    ViewBag.Title = "Detalhes sobre o Armazém";
}
<br />
<h2>Detalhes sobre o Armazém</h2>
<br />
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Departaments.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Departaments.Name)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Cities.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cities.Name)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Company.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Company.Name)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
    </dl>
</div>
<p>
    <br />
    @Html.ActionLink("Editar", "Edit", new { id = Model.WareHouseId }, new { @class = "btn btn-info" }) |
    @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-primary" })
    <br />
</p>
