@model ECommerce.Models.City

@{
    ViewBag.Title = "Excluir cidade";
}

<h2>Excluir Cidade</h2>

<h3>Você tem certeza que deseja excluir essa cidade?</h3>
<div>
    <h4>Esta ação não poderá ser desfeita!</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Departament.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departament.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-danger" /> |
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-primary" })
        </div>
    }
</div>
