@model ECommerce.Models.City

@{
    ViewBag.Title = "Informações sobre a Cidade";
}

<h2>Informações sobre a cidade</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Departament.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departament.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.CityId }) |
    @Html.ActionLink("Voltar", "Index")
</p>
