@model IEnumerable<ECommerce.Models.City>

@{
    ViewBag.Title = "Cidades";
}
<br />
<h2>Cidades</h2>
<br />
<p>
    @Html.ActionLink("Cadastrar Cidade", "Create", null, new { @class = "btn btn-primary btn-lg" })
    <br /><br />
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Departament.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Departament.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.CityId }, new { @class = "btn btn-info" }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.CityId }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Excluir", "Delete", new { id = item.CityId }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
    
</table>
