@model IEnumerable<ECommerce.Models.Departaments>

@{
    ViewBag.Title = "Regiões";
}
<br />
<h2>Regiões</h2>
<br />
<p>
    @Html.ActionLink("Cadastrar Região", "Create", null, new { @class = "btn btn-primary btn-lg" })
    <br /><br />
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.DepartamentsId }, new {@class = "btn btn-info" }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.DepartamentsId }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.DepartamentsId }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
