@model ECommerce.Models.Company

@{
    ViewBag.Title = "Excluir Companhia";
}
<br />
<h2>Excluir Companhia</h2>
<br />
<h3>Tem certeza que deseja excluir a companhia?</h3>
<div>
    <h4>Esta ação não poderá ser desfeita!</h4>
    <br />
    <hr />
    @Html.HiddenFor(model => model.Logo)
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cities.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cities.Name)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Departaments.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departaments.Name)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <br />
        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-danger" /> |
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-primary" })
        </div>
    }
</div>
