@model ECommerce.Models.Company

@{
    ViewBag.Title = "Detalhes sobre a Companhia";
}
<br />
<h2>Informações sobre a Companhia</h2>
<br />
<div>
    <hr />
    @Html.HiddenFor(model => model.Logo)
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cities.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cities.Name)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Departaments.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departaments.Name)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

    </dl>
</div>
<p>
    <br />
    @Html.ActionLink("Editar", "Edit", new { id = Model.CompanyId }, new { @class = "btn btn-info" }) |
    @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-primary" })
    <br />
</p>
