@model ECommerce.Models.User

@{
    ViewBag.Title = "Informações sobre o Usuário";
}
<br />
<h2>Informações sobre o Usuário</h2>
<br />
<div>
    <hr />
    @Html.HiddenFor(model => model.Photo)
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Departaments.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departaments.Name)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Cities.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cities.Name)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Company.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.Name)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

    </dl>
</div>
<p>
    <br />
    @Html.ActionLink("Editar", "Edit", new { id = Model.UserId }, new { @class = "btn btn-info" }) |
    @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-primary" })
    <br />
</p>
